.App {
    text-align: center;
}

.App-header {
    height: 100px;
    background-color: #282c34;
    color: white;
}

main {
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .App-header {
        max-height: 150px;
    }
}