.Navigator {
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
}

.Navigator,
.desktop ul {
    display: flex;
    align-items: center;
}

.desktop {
    display: none;
    width: 30%;
}

.desktop ul {
    justify-content: flex-end;
}

.desktop ul>li {
    font-size: 16pt;
    padding: 10px;
}

.Navigator .menu-btn {
    background-color: #282c34;
}

.App-header a {
    color: #FFFFFF;
}

.App-header a:hover {
    color: #818198;
}

.App-header .action>svg {
    width: 2rem;
    height: 2rem;
}

.App-header .Navigator .menu-btn>svg {
    fill: #FFFFFF;
}

.App-header .menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    text-align: left;
    background-color: #282c34;
}

.App-header .menu>ul {
    width: 100%;
    margin: 1.3em 1em 0 2em;
}

.App-header .menu>ul>li {
    height: 3em;
    line-height: 3em;
}

.App-header .menu>ul>li:not(:first-child) {
    border-bottom: solid thin #FFFFFF;
}

.App-header .menu>ul>li:first-child {
    text-align: right;
}

.App-header .menu.active {
    left: 0;
    transition: 350ms;
}

@media only screen and (min-width: 900px) {
    .desktop {
        display: block;
    }
    .menu-btn {
        display: none;
    }
}