.thumb {
    width: 100%;
    text-align: left;
    padding: 1rem 2rem;
}

.thumb.hide,
.summary.hide {
    opacity: 0;
    pointer-events: none;
}

.thumb .content {
    padding: 1rem 0.2rem 0 0;
}

.thumb .content h5 {
    font-weight: bold;
}

.thumb .content p {
    font-size: 0.9rem;
}

.thumb .poster {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.summary {
    margin: 1.2em 0;
    overflow: hidden;
    font-size: 11pt;
    /* use this value to count block height */
    line-height: 1.2em;
    max-height: 9.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
}

.summary {
    display: none;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 900px) {
    .thumb {
        width: 15%;
    }
}